@font-face {
    font-family: IBMCGA;
    src: url('Web_IBM_CGA.woff');
}
* {
    background-color: black;
    color: white;
    width: 100%;
    margin: 0;
    padding: 0;
}
button {
    height: 4em;
}
.example, li {
    white-space: pre;
    word-wrap: hide;
    font-family: IBMCGA,monospace;
    border: 2px solid red;
}

p {
    margin: 1em;
}
div {
    margin: 0.5em;
}